Package: us.mbilker.dinerdashall
Name: Diner Dash All
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mbilker
Author: mbilker
Section: Tweaks
